@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
}
div {
  background-color: skyblue;
  color: darkblue;
  text-align: center;
  height: 100%;
}
span#result {
  color: darkred;
  font-weight: bold;
}
